---
interface Props {
  title: string;
  description: string;
  author: string;
  tags: Array<string>;
  image: {
    src: string;
    alt: string;
  };
  event_location: string;
  video_url: string;
  slides_url: string | null;
}
import Layout from "./Layout.astro";
import {makeYTurl} from '../functions/url'
const {
  title,
  description,
  author,
  tags,
  image,
  event_location,
  video_url,
  slides_url,
} = Astro.props;
---

<Layout title={title}>
  <main class="pt-16 px-28 text-lg">
    <section class="flex justify-between gap-12 pt-10">
      <div class=" w-[55%] pr-11">
        <p class="font-semibold">{author}</p>
        <h1 class="font-alfa-slab text-4xl">{title}</h1>
        <p>{description}</p>
        <div class="pt-3 flex gap-3 text-sm uppercase">
          {
            tags.map((tag) => (
              <a href={`/talks?tags=[${tag}]`} class=" py-1 px-3 border-blk border-[1.4px] rounded-full">
                {tag}
              </a>
            ))
          }
        </div>
      </div>
     <div>
      <iframe
      id="ytplayer"
      width="222"
      class="w-96 h-48 relative drop-shadow-[6px_7px_rgba(0,0,0,1)] rounded-md"
      src={ 
      makeYTurl(video_url)
      }
    />
     </div>
    </section>
    <section class="info-block">
      <p>{}</p>
      <p>{author}</p>
    </section>
    <section>
      <slot />
    </section>
  </main>
</Layout>
